.header-top__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 12px 0;
}

.header-top__link {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
}