.header {
    background: linear-gradient(90deg, #415BD2 0%, #8DA1F7 100%);
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__link {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__button {
    border: 0;
    border-radius: 8px;
    background-color: #2B3143;
    padding: 12px;
    width: 144px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.header__button--qr {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 8px;
    background-color: #2B3143;
    width: 40px;
    height: 40px;
    cursor: pointer;
}