.header-top__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-top__link {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
}
