.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 400px;
}

.sidebar__title {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    color: #1E222E;
    margin: 0 0 24px 0;
}

.sidebar__text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #696E82;
    padding: 0;
    margin: 0 0 48px 0;
}

.sidebar__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    list-style: none;
}

.sidebar__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 16px;
    color: #1E222E;
}

.sidebar__social {
    display: flex;
    flex-direction: column;
}

.sidebar__social-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #696E82;
    padding: 0;
    margin: 0 0 12px 0;
}


.sidebar__copyright {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #696E82;
}