.social {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 24px 0;
    padding: 0;
    list-style: none;
    gap: 8px;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#EDEEEF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
